.listing-main
  .listing-wrapper
    .listing-header

    .listing-body
      .listing-image
        %p 出品画像
        %p  必須
      .listing-item
        %h2 商品名
        %p  必須
      .listing-show
        %h3 カテゴリー
        %p  必須
      .listing-delivery
        %h4 配送料の負担
        %p  
      .listing-price
        %h5 販売価格
        %p  
      .listing-form
        %h6 出品する
        %p  
    .listing-footer