.show-item__box
  %table
    %tr
      %th 出品者
      %td 三日月大造
    %tr
      %th カテゴリ
      %td= link_to "食品", "#", class:"category-name"
    %tr
      %th ブランド
      %td 近江牛
    %tr
      %th 商品サイズ
      %td 1kg
    %tr
      %th 商品状態
      %td 新品
    %tr
      %th 配送料の負担
      %td 送料込み（出品者負担）
    %tr
      %th 発送元の地域
      %td 滋賀
    %tr
      %th 発送日の目安
      %td 1-2日で発送