.buy-body
  .buy-body__main
    .buy-body__main__title
      //= form_with url:(@items), method: :post do |f|
      .buy-body__main__title__sentence
        購入内容の確認
    .buy-body__main__buy-items
      .buy-body__main__buy-items__info
        .buy-body__main__buy-items__info__image
          ここにアイテム画像が入るよ！
        .buy-body__main__buy-items__info__detail
          .buy-body__main__buy-items__info__detail__item-name
            BOSS エフェクター SD-1 super over drive
          .buy-body__main__buy-items__info__detail__item-price
            送料込み (税込)¥4,900
    .buy-body__main__price
      .buy-body__main__price__table
        .buy-body__main__price__table__sub
          お支払い金額
        .buy-body__main__price__table__main
          ¥4,900
    .buy-body__main__payment
      .buy-body__main__payment__content
        .buy-body__main__payment__choice
          
        .buy-body__main__payment__
    .buy-body__main__destination
    .buy-body__main__purchase
      =form_tag()
