.confirmation
  .confirmation__wrapper
    .confirmation__wrapper__title
      カ ー ド 登 録 し ま し た
    =link_to mypages_path(current_user),class:'back-btn' do
      .confirmation__wrapper__btn
        戻る