.contentrow{
  height: 150px;
  text-align: center;
  background-color: white;
  padding: 50px;
  font-size: 25px;
}

.btn{
  padding: 80px;
  color: white;
  padding: 5px;
  border: 1px solid #3ccace;
  border-radius: 5px;
  background-color: #3ccace;
  font-size: 30px;
  text-align: center;
  width: 270px;
  margin: 80px 420px;
}
.btn:hover{
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
}
a{
  text-decoration: none;
  color: white;
  display: block;
}