.listing-main{
  background-color: rgb(241, 236, 236);
}

.listing-containar{
  text-align: left;
  width: 50%;
  padding: 40px;
  margin: auto;
  font-size: 18px;
}
.listing-header{
  border-bottom: 1px solid rgb(235, 230, 230);
  padding-bottom: 30px;
  text-align: center;
}
.header-btn{
  width: 200px;
  margin-top: 30px;
}
.listing-body{
  background-color: #fff;
  padding: 40px;
}
.listing-image{
  padding-bottom: 40px;
  padding-left: 20px;
  margin-bottom: 40px;
  border-bottom: 1px solid rgb(191, 186, 186);
  &__sub-tittle{
    color: rgb(63, 62, 62);
    font-weight: 100;
    margin-top:15px ;
  }
}
.input-area{
  width: 95%;
  height: 180px;
  background-color: rgb(235, 232, 232);
  border-radius: 5px;
  position: relative;
}
.input-area:hover{
  border: 1px solid #3ccace;}
.listing-camera {
  position: absolute;
  top: 60px;
  right: 320px
}
.listing-introduct{
  position: absolute;
  top: 100px;
  right: 210px;
  font-size: 12px;
  color: rgb(63, 62, 62);
  font-weight: 100;
  text-align: center;
}
.listing-item{
  padding-left: 20px;
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid rgb(155, 154, 154);
  &__tittle{
    &--area{
      width: 95%;
      height: 40px;
      margin-top: 10px;
      border-radius: 5px;
      margin-top: 5px;
      border-radius: 5px;
      margin-bottom: 30px;
    }
    &--space{
      margin-top: 5px;
      border-radius: 5px;
      margin-bottom: 10px;
      width: 95%;
      height: 150px;
      margin-top: 10px;
      border-radius: 5px;
    }
  &__introduct{
    margin-top: 30px;

  }
  }
}
.listing-show{
  margin-bottom: 40px;
  border-bottom: 1px solid rgb(155, 154, 154);
  padding-left: 20px;
  padding-bottom: 40px;
  &__brand{
    &--area{
      width: 95%;
      height: 40px;
      margin-top: 5px;
      border-radius: 5px;
      margin-bottom: 35px;
    }
  }
  &__area{
    &--category{
      width: 95%;
      height: 40px;
      margin-top: 5px;
      border-radius: 5px;
      margin-bottom: 10px;
    }
  }
}
.listing-delivery{
  padding-left: 20px;
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid rgb(155, 154, 154);
  &__show{
    color: rgb(63, 62, 62);
    font-weight: 100;
    margin-bottom: 10px;
  }
  &__area{
    margin-top: 5px;
    &--category{
      width: 95%;
      height: 40px;
      border-radius: 5px;
      margin-bottom: 10px;
    }
  }
}
.listing-price{
  padding-left: 20px;
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgb(155, 154, 154);
  &__area{
    width: 45%;
    height: 40px;
    margin-top: 10px;
    border-radius: 5px;
  }
  &__description{
    color: rgb(63, 62, 62);
    font-weight: 100;
    margin-bottom: 1px;

  }
  &__enn{
    height: 50px;
    margin-right: 10px;
    margin-left: 180px;
    font-weight: 100;
  }
  &__fee{
    color: rgb(63, 62, 62);
    font-weight: 100;
    margin-top: 35px;
  }
}
.listing_submit{
  border-radius: 3px;
  display: block;
  width: 60%;
  height: 50px;
  margin: 20px auto;
  color: #fff;
  background-color: #3ccace;
  border-radius: 5px;
}
.draft_submit{
  border-radius: 3px;
  display: block;
  width: 60%;
  height: 50px;
  margin: 20px auto;
  color: #fff;
  background-color: gray;
  border-radius: 5px;
}
.Mandatory{
  background-color: #3ccace;
  border-radius: 3px;
  color: #fff;
  padding: 2px 4px;
  margin-left: 5px;
}
.Any{
  background-color: gray;
  border-radius: 3px;
  color: #fff;
  padding: 2px 4px;
  margin-left: 5px;
}