.cards-show{
  width: 75%;
  margin:70px 40px 50px 40px;
  background-color: #fff;
  &__body{
    height: 55%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &__main{
      height: 90px;
      width: 180px;
      margin: 20px 40px 0 0;
      padding: 30px;
      font-weight: bold;
      border: 2px solid rgb(235, 230, 230);
      border-radius: 10;
      &__card-number{
        font-size: 19px;
      }
      &__expiration-date{
        font-size: 17px;
      }
    }
    #card-delete{
      font-size: 16px;
      padding: 4px;
      margin-top: 10px;
      color: red;
      border-radius: 5px;
      border: 1px solid #ea352d;
      border-radius: 10;
      background-color: #fff;
      cursor: pointer;
     }
     #card-delete:hover{
       box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);/*浮き上がるように*/
     }
  }
}

#card-image{
  height: 44px;
  width: 62px;
}